{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/add-article.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Add Article</h1>
                    <span class="subheading">Fill the fields to publish your article.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1> Basic Operations</h1>
                <br>
                <a class="btn btn-success" href="/dashboard"> Dashboard</a>
                <a class="btn btn-success" href="/logout"> Logout</a>
                <hr>
                <br>
                <h1> Add/Edit Article</h1>
                <div class="my-5">
                    <!-- Need to include jinja variable to get access to database variables.-->

                    <form id="contactForm" action="/edit/{{sno}}" method="POST">
                        <div class="form-floating">
                            <input class="form-control" id="title" name="title" type="text" value="{{post.title}}"
                                placeholder="Title" />
                            <label for="name">Title</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="slug" name="slug" type="text" value="{{post.slug}}"
                                placeholder="Slug" />
                            <label for="slug">Slug</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="content" name="content" type="text" value="{{post.content}}"
                                placeholder="Content" />
                            <label for="content">Content</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="img_file" name="img_file" type="text"
                                value="{{post.img_file}}" placeholder="ImgFile" />
                            <label for="image">Image File</label>
                        </div>

                        <br />

                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}